.alllist img{
    width:900px;
}
.alllist{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 230px;
}
.footer{
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  .alllistm img{
    display: none;
  }
  .footer img{
    width: 98%;
  }
  @media screen and (max-width: 550px){
    .alllist img{
      display: none;
    }
    .alllistm {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0px;
      margin-bottom: 250px;
    }
    .alllistm img{
      margin: -130px;
      display:flex;
      width:300px;
    }
    .footer img{
      display: none;
    }

  }
  